@charset "utf-8";

body {
    background-image: url(/css/image/register_login_image.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
}

.title {
    color: #ffffff;
    font-family: 'メイリオ', 'HiraKakuProN';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
}

table, th, td {
    border: 1px #000000 solid;
    color: #000000;
    font-family: 'メイリオ', 'HiraKakuProN';
    font-weight: bold;
    font-size: 13px;
    text-shadow: 
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
    text-align: center;
}

th {
    background-color: rgba(255, 69, 0, 0.6);
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.6);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.6);
}

.content {
    color: #adff2f;
    text-shadow: 
    -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
}

.content:hover {
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
    background-color: rgba(0, 0, 255, 0.6);
}

.btn {
    color: #000000;
    font-family: 'メイリオ', 'HiraKakuProN';
    font-size: 15px;
    text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
    background-color: rgba(173, 255, 47, 0.6);
}

.btn:hover {
    background-color: rgba(255, 215, 0, 0.6);
}

.link-items {
  font-family: 'メイリオ', 'HiraKakuProN';
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #808080,
     1px -1px 0 #808080,
    -1px  1px 0 #808080,
     1px  1px 0 #808080;
  color: #ffffff;
}

.link-items:hover {
  text-shadow:
    -1px -1px 0 #808080,
     1px -1px 0 #808080,
    -1px  1px 0 #808080,
     1px  1px 0 #808080;
  color: #adff2f;
  background-color: rgba(128, 128, 128, 0.6);
}